@inherits LayoutComponentBase

<PageTitle>Blogger</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <SigninView/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
